{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/style.css' %}?v={{ timestamp }}">
    <link rel="stylesheet" href="{% static 'css/login-style.css' %}?v={{ timestamp }}">
    <link rel="stylesheet" href="{% static 'css/admin-style.css' %}?v={{ timestamp }}">
    <link rel="stylesheet" href="{% static 'css/cardholder-style.css' %}?v={{ timestamp }}">
    <!-- font-awesome icons -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <!-- JS -->
    <script src="{% static 'js/script.js' %}?v={{ timestamp }}"></script>
    <title>Earls Discount System</title>
</head>

<body>
    <div class="container">

        <main>
            <nav class="navbar">
                <div>
                    <img src="{% static 'images/earls-logo-headonly.png' %}" alt="Earls Logo" class="nav-earls-logo">
                </div>

                <ul class="nav-items">
                    <li><a href="#">
                            <p>Cardholders</p>
                        </a></li>
                    <li class="dropdown"><a href="#" class="dropbtn">
                            <p>EC Card</p>
                        </a>
                        <div class="dropdown-content">
                            <a href="#">Issue Card</a>
                            <a href="#">Upload Faceplate</a>

                        </div>
                    </li>
                    <li class="dropdown"><a href="#" class="dropbtn">
                            <p>Reports</p>
                        </a>
                        <div class="dropdown-content">
                            <a href="#">Dashboard</a>
                            <a href="#">Discount per Store</a>
                            <a href="#">Discount per Employee</a>
                        </div>
                    </li>
                    <li>
                        <a href="#">
                            <p>Logout</p>
                        </a>
                    </li>
                </ul>

            </nav>
            {% block content %}
            {% endblock %}
        </main>
    </div>
</body>

</html>