{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="admin-container">
    <div class="container-info">
        <div class="title">
            <h1>Admin Dashboard</h1>
        </div>
        <div class="support-email">
            <i class="fa-regular fa-envelope font-awesome-icons"></i>
            <span class="email-text" id="email" onclick="copyEmail()">support@earls.ca</span>
            <span class="email-tooltip-text">Copy to clipboard</span>
        </div>
    </div>

    <div class="title-total-discounts">
        <i class="fa-solid fa-coins font-awesome-icons"></i>
        <p class="strong">Total Discounts</p><small>Period 9 as of Oct 14, 2024</small>
    </div>
    <div class="contents-total-discounts grid">
        <div class="table">
            <div class="section-title">
                <div class="total-discounts-store">
                    <p>Total Discounts by Store</p>
                </div>
                <div class="view-all-icon"><i class="fa-solid fa-angle-right"></i></div>
            </div>
            <div class="table-total-discounts">
                <div>
                    <table>
                        <tbody>
                            <tr>
                                <td>King West</td>
                                <td>- $1138.25</td>
                            </tr>
                            <tr>
                                <td>Port Coquitlam</td>
                                <td>- $622.13</td>
                            </tr>
                            <tr>
                                <td>Robson</td>
                                <td>- $465.14</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="table">
            <div class="section-title">
                <div class="total-discounts-employee">
                    <p>Total Discounts by Employee</p>
                </div>
                <div class="view-all-icon"><i class="fa-solid fa-angle-right"></i></div>
            </div>
            <div class="table-total-discounts">
                <div>
                    <table>
                        <tbody>
                            <tr>
                                <td>Michelle Choi</td>
                                <td>- $938.50</td>
                            </tr>
                            <tr>
                                <td>Rhombus Nell</td>
                                <td>- $722.13</td>
                            </tr>
                            <tr>
                                <td>John Doe</td>
                                <td>- $465.14</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <div class="section-title-cardholders">
        <div class="title-total-cardholders"><i class="fa-regular fa-credit-card font-awesome-icons"></i>
            <p>New Cardholders</p><small>Activated in Last Month</small>
        </div>
        <div class="view-all-icon-text"><span class="view-all-text">View All</span><i
                class="fa-solid fa-angle-right"></i>
        </div>
    </div>
    <div class="new-cardholders">
        <table class="table-total-cardholders" id="no-more-tables">
            <thead>
                <tr class="thead">
                    <th>Card No.</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Status</th>
                    <th>CardType</th>
                    <th>Issue Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-title="Card No">0401</td>
                    <td data-title="Name">Richard Park</td>
                    <td data-title="Email">richard.park@earls.ca</td>
                    <td data-title="Status">Activated</td>
                    <td data-title="CardType">EC50</td>
                    <td data-title="Issue Date">2024-09-15</td>
                </tr>
                <tr>
                    <td data-title="Card No">0401</td>
                    <td data-title="Name">Richard Park</td>
                    <td data-title="Email">richard.park@earls.ca</td>
                    <td data-title="Status">Activated</td>
                    <td data-title="CardType">EC50</td>
                    <td data-title="Issue Date">2024-09-15</td>
                </tr>
                <tr>
                    <td data-title="Card No">0401</td>
                    <td data-title="Name">Richard Park</td>
                    <td data-title="Email">richard.park@earls.ca</td>
                    <td data-title="Status">Activated</td>
                    <td data-title="CardType">EC50</td>
                    <td data-title="Issue Date">2024-09-15</td>
                </tr>
                <tr>
                    <td data-title="Card No">0401</td>
                    <td data-title="Name">Richard Park</td>
                    <td data-title="Email">richard.park@earls.ca</td>
                    <td data-title="Status">Activated</td>
                    <td data-title="CardType">EC50</td>
                    <td data-title="Issue Date">2024-09-15</td>
                </tr>
                <tr>
                    <td data-title="Card No">0401</td>
                    <td data-title="Name">Richard Park</td>
                    <td data-title="Email">richard.park@earls.ca</td>
                    <td data-title="Status">Activated</td>
                    <td data-title="CardType">EC50</td>
                    <td data-title="Issue Date">2024-09-15</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}