{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="flex-container">
    <div class="breadcrumb-bar">
        <a href="#" onclick="history.back()" class="back-button"><i class="fa-solid fa-arrow-left"></i> Go Back</a>
        <div class="breadcrumb-links">
            <a href="{% url 'admin_home' %}">Home</a>
            <i class="fa-solid fa-chevron-right"></i>
            <a href="{% url 'manage_card_holders' %}">Cardholders</a>
            <i class="fa-solid fa-chevron-right"></i>
            <a href="{% url 'manage_user_details' cardholder.id %}">Detail</a>
        </div>
    </div>
    <h1 class="headline">Cardholder Detail</h1>
    <div class="cardholder-header">
        <div class="flex-row">
            <h2 class="cardholder-header-title">{{ cardholder.name }}</h2>
            <a class="cardholder-header-link" href="{% url 'edit_card' cardholder.id %}">Edit</a>
            <a class="cardholder-header-link" href="{% url 'revoke_card' cardholder.id %}">Revoke</a>
            <a class="cardholder-header-link" href="{% url 'delete_cardholder' cardholder.id %}">Delete Cardholder</a>
        </div>
        <button class="cardholder-header-button btn-reissue" onclick="openReissueConfirmModal(event)"><i
                class="fa-regular fa-envelope cardholder-header-icon"></i>
            Re-Issue
            Card</button>
    </div>
    <div class="cardholder-details">
        <div class="detail-item">
            <span>Email</span>
            <span>Company</span>
            <span>Status</span>
        </div>
        <div class="detail-item">
            <span>{{ cardholder.email }}</span>
            <span>{{ cardholder.company.name }}</span>
            <span>{% if cardholder.is_active == 1 %}Active{% else %}Inactive{% endif %}</span>
        </div>
        <div class="detail-item">
            <span>Card Type</span>
            <span>Card Number</span>
            <span>Issue Date</span>
        </div>
        <div class="detail-item">
            <span>{{ cardholder.card_type.name|default:"N/A" }}</span>
            <span>{{ card.card_number|default:"N/A" }}</span>
            <span>{{ card.issued_date|default:"N/A" }}</span>
        </div>
    </div>
    <div class="Note">
        <span>Note</span>
        <span>{{ cardholder.note }}</span>
    </div>
    <div>
        <i class="fa fa-bars"></i>
        <span>Transaction History</span>
    </div>
    <table class="cardholder-table">
        <tr>
            <th>Store</th>
            <th>Date</th>
            <th>Discount Amount</th>
        </tr>
        <tr>
            <td>Robson</td>
            <td>2024-09-15</td>
            <td>- $131.00</td>
        </tr>
        <tr>
            <td>Birdies</td>
            <td>2024-09-07</td>
            <td>- $75.00</td>
        </tr>
        <tr>
            <td>Birdies</td>
            <td>2024-08-21</td>
            <td>- $49.00</td>
        </tr>
        <tr>
            <td>King West</td>
            <td>2024-07-19</td>
            <td>- $163.00</td>
        </tr>
        <tr>
            <td>Fir Street</td>
            <td>2024-07-03</td>
            <td>- $89.00</td>
        </tr>
    </table>
    <div class="pagination">
        <i class="fa-solid fa-chevron-left"></i>
        <a href="#" class="active">01</a>
        <a href="#">02</a>
        <a href="#">03</a>
        <i class="fa-solid fa-chevron-right"></i>
    </div>
</div>



<!-- Confirmation Pop-Up -->
<div id="reissue-confirmation-modal" class="modal" style="display: none;">
    <div class="modal-content">
        <div class="modal-texts">
            <small>Re-issue Card</small>
            <p>Your card is succesfully re-issued.</p>
        </div>

        <div class="modal-buttons-container">
            <a href="{% url 'reissue_card' cardholder.id %}"><button type="submit" onclick="closeReissueConfirmModal()"
                    class="modal-form-button">Close</button>
            </a>
        </div>
    </div>
</div>

{% endblock %}