{% load static %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/style.css' %}?v={{ timestamp }}">
    <link rel="stylesheet" href="{% static 'css/login-style.css' %}?v={{ timestamp }}">
    <link rel="stylesheet" href="{% static 'css/admin-style.css' %}?v={{ timestamp }}">

    <!-- font-awesome icons -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

    <title>Earls Discount System</title>
</head>

<body class="login-body">
    <main>
        <div class="login-container">

            <div class="card">
                <h1 class="login-headline">Access Denied.</h1>

                <div class="access-denied-message">
                    <br>
                    <p class="strong"><i class="fa-solid fa-exclamation-triangle font-awesome-icons"></i>&nbsp;You do
                        not
                        have
                        the necessary permissions to access this page.</p>
                    <small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;If you believe this is an error, please contact
                        support. <span class="strong">support@earls.ca</span></small>
                </div>
                <br>
                <a href="/" class="text-link">
                    <p>Go to Login Page</p>
                </a>
            </div>




    </main>
</body>

</html>






</div>
</div>
</body>

</html>