@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap');

/* default styles */

:root {
  --font-color: #083044;
  --primary-color: #6eb9b2;
  --bg-color: #ffffff;
  --bg-variant: #f7fafa;
  --light-color: #e3e3e3;
  --accent-color: #82714c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg-color);
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 960px;
  height: 100vh;
  padding-top: 0.5rem;
}

a {
  text-decoration: none;
}

.strong {
  font-weight: 500;
}

/* navigation */

.navbar {
  position: sticky;
  top: 0;
  padding-top: 0;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-color);
  color: var(--font-color);
  border-bottom: solid 1px var(--light-color);
  z-index: 999;
}

.navbar a {
  color: var(--font-color);
}

.navbar a:hover {
  color: var(--accent-color);
}

.navbar .nav-earls-logo {
  width: 100px;
}

.navbar .nav-items {
  display: flex;
}

.navbar ul {
  list-style-type: none;
}

li a,
.dropbtn {
  display: block;
  padding: 16px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.dropdown-content {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 60px;
  background-color: var(--bg-color);
  border: solid 1px var(--light-color);
  white-space: nowrap;
  box-shadow: 0px 8px 16px 0px hsla(0, 0%, 0%, 0.05);

  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.dropdown-content a {
  color: var(--font-color);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: var(--bg-variant);
}

.dropdown:hover .dropdown-content {
  opacity: 1;
  visibility: visible;
}

/* responsive design */

@media (max-width: 900px) and (min-width: 600px) {
  .container {
    width: 100%;
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .dropdown-content {
    white-space: unset;
  }
}
