@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap');

/* default styles */

:root {
  --font-color: #083044;
  --primary-color: #6eb9b2;
  --bg-color: #ffffff;
  --bg-variant: #f7fafa;
  --light-color: #e3e3e3;
  --accent-color: #82714c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg-color);
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 70%;
  height: 100vh;
  padding-top: 0.5rem;
}

a {
  text-decoration: none;
}

/* navigation */

.navbar {
  position: sticky;
  top: 0;
  padding-top: 0;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--font-color);
  border-bottom: solid 1px var(--light-color);
}

.navbar a {
  color: var(--font-color);
}

.navbar a:hover {
  color: var(--accent-color);
}

.navbar .nav-earls-logo {
  width: 100px;
}

.navbar .nav-items {
  display: flex;
  gap: 2rem;
}

/* responsive design */

@media (max-width: 900px) and (min-width: 600px) {
  .container {
    width: 100%;
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
